* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: cursive;
    font-size: 12pt;
    background: linear-gradient(23deg, blue, red);
    padding-left: 200px;
    padding-right: 200px;
}
a{
    color: goldenrod;
}
#caixa {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100%; /* Define a altura da div caixa */
    margin-bottom: 50px;
}

.card {
    width: 150px;
    height: 150px;
    background-color: rgba(0,0,0,.6);
    margin: 20px;
    cursor: pointer;
}

img{
    width: 150px;
    height: 150px;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-height: 80vh;
    padding: 20px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.6);
    color: goldenrod;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
p{
    font-size: 17pt;
}
h2{
    cursor: pointer;
}
#eli {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: goldenrod;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

#eli:hover {
    color: white;
}
/* Estilos para dispositivos móveis */
@media only screen and (max-width: 720px) {
    body {
        padding: 20px; /* Reduz o padding do body */
    }

    #caixa {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: flex-start; /* Alinha ao topo */
        height: auto; /* Altura automática */
        margin-bottom: 50px;
    }

    .card {
        flex: 0 0 calc(25% - 20px); /* 25% de largura com margem de 20px */
        height: auto; /* Altura automática */
        margin: 10px; /* Espaçamento entre as cartas */
        display: flex;
        align-items: center; /* Alinha conteúdo ao centro verticalmente */
        justify-content: center; /* Alinha conteúdo ao centro horizontalmente */
    }

    img {
        max-width: 100%; /* Largura máxima de 100% */
        max-height: 100%; /* Altura máxima de 100% */
        object-fit: cover; /* Ajusta a imagem para preencher o espaço */
    }

    .info {
        width: 100%; /* Largura total */
        padding: 10px; /* Espaçamento interno */
    }

    p {
        font-size: 14pt; /* Reduz o tamanho da fonte dos parágrafos */
    }

    h2 {
        font-size: 16pt; /* Reduz o tamanho da fonte dos títulos */
    }
}
